{% extends 'journalApp/main.html' %}
{% block content %}
{% load static %}
    <main class="main-secton">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-3 left-main-container ">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="inner-main-section col-12">

                                <details class="details">
                                    <summary class="dropdown-headers">
                                        <h2 class="left-heading highly-aa authors-side-heading">Information</h2>
                                    </summary>
                                    <div class="lmc-inner-container">
                                        <p><a href="#">For Reviewers</a></p>
                                    </div>
                                    <div class="lmc-inner-container">
                                        <p><a href="#">For Editors</a></p>
                                    </div>
                                    <div class="lmc-inner-container">
                                        <p><a href="#0">For Authors</a></p>
                                    </div>
                                    <div class="lmc-inner-container">
                                        <p><a href="#">Open Access Policy</a></p>
                                    </div>
                                    <div class="lmc-inner-container">
                                        <p><a href="#">Editorial Process</a></p>
                                    </div>
                                    <div class="lmc-inner-container">
                                        <p><a href="#">Research and Publication Ethics</a></p>
                                    </div>
                                    <div class="lmc-inner-container">
                                        <p><a href="#">Article Processing Charges</a></p>
                                        <ul class="side-menu-li-container">
                                            <li class="side-menu-li active "><a href=""><em>IJMS</em>Home</a></li>
                                            <li class="side-menu-li active "><a href=""><em>IJMS</em>Home</a></li>
                                            <li class="side-menu-li active "><a href=""><em>IJMS</em>Home</a></li>
                                            <li class="side-menu-li active "><a href=""><em>IJMS</em>Home</a></li>
                                            <li class="side-menu-li active "><a href=""><em>IJMS</em>Home</a></li>
                                            <li class="side-menu-li active "><a href=""><em>IJMS</em>Home</a></li>
                                            <li class="side-menu-li active "><a href=""><em>IJMS</em>Home</a></li>
                                        </ul>
                                    </div>
                                </details>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 middle-main-container">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="inner-main-section col-12 recent-articles topics mmcic-authors">
                                <h2 class="mmcica-headings">Research and Publication Ethics</h2>
                                <h2 class="mmcica-headings">Contents</h2>

                                <div class="mmcicaic">
                                    <ul class="apc-upper-lists">
                                        <li>
                                            <a href="#0">7.8. Guidelines for Reviewers for Depositing Review
                                                Activities into ORCID</a>
                                        </li>
                                        <li>
                                            <a href="#0">7.8. Guidelines for Reviewers for Depositing Review
                                                Activities into ORCID</a>
                                        </li>
                                        <li>
                                            <a href="#0">7.8. Guidelines for Reviewers for Depositing Review
                                                Activities into ORCID</a>
                                        </li>
                                        <li>
                                            <a href="#0">7.8. Guidelines for Reviewers for Depositing Review
                                                Activities into ORCID</a>
                                        </li>
                                        <li>
                                            <a href="#0">7.8. Guidelines for Reviewers for Depositing Review
                                                Activities into ORCID</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="mmcicaic">
                                    <h3>General Information on MDPI’s Article Processing Charges (APC)</h3>
                                    <p>MDPI is a publisher of scholarly open access journals. All journals uphold a
                                        peer-reviewed, rapid, and rigorous
                                        manuscript handling and editorial process.</p>
                                    <p>MDPI journals are the perfect place for you to publish your work under an
                                        open access license, in a fast and
                                        straightforward manner. Our journals are indexed in the leading databases
                                        and, since they are open access, have a broad
                                        readership.</p>
                                    <p>As a pioneer open access publisher, our mission is to make new research
                                        findings accessible to everyone. We are serving
                                        scholars from across the globe and from a variety of backgrounds. To deepen
                                        our understanding of the research
                                        communities that we serve, we aim to build journals that are just as diverse
                                        and inclusive. Only by valuing differences
                                        can we create an equitable and inclusive work environment and foster the
                                        openness that is key to our mission.</p>
                                    <p>The daily exchange of ideas between the East and the West has been at the
                                        heart of MDPI's progress from day one. We
                                        understand that diversity does not end there. More needs to be done to
                                        bridge the gap between the global North and
                                        South—and to create equal opportunities for people without regard to race,
                                        color, sex, gender identity, sexual
                                        orientation, age, religion, country of origin, physical ability, or
                                        socio-economic status. There is no place for
                                        discrimination on the basis of any one of these characteristics.</p>
                                    <p>The daily exchange of ideas between the East and the West has been at the
                                        heart of MDPI's progress from day one. We
                                        understand that diversity does not end there. More needs to be done to
                                        bridge the gap between the global North and
                                        South—and to create equal opportunities for people without regard to race,
                                        color, sex, gender identity, sexual
                                        orientation, age, religion, country of origin, physical ability, or
                                        socio-economic status. There is no place for
                                        discrimination on the basis of any one of these characteristics.</p>
                                    <p>The daily exchange of ideas between the East and the West has been at the
                                        heart of MDPI's progress from day one. We
                                        understand that diversity does not end there. More needs to be done to
                                        bridge the gap between the global North and
                                        South—and to create equal opportunities for people without regard to race,
                                        color, sex, gender identity, sexual
                                        orientation, age, religion, country of origin, physical ability, or
                                        socio-economic status. There is no place for
                                        discrimination on the basis of any one of these characteristics.</p>
                                    <p>The daily exchange of ideas between the East and the West has been at the
                                        heart of MDPI's progress from day one. We
                                        understand that diversity does not end there. More needs to be done to
                                        bridge the gap between the global North and
                                        South—and to create equal opportunities for people without regard to race,
                                        color, sex, gender identity, sexual
                                        orientation, age, religion, country of origin, physical ability, or
                                        socio-economic status. There is no place for
                                        discrimination on the basis of any one of these characteristics.</p>
                                    <p>The daily exchange of ideas between the East and the West has been at the
                                        heart of MDPI's progress from day one. We
                                        understand that diversity does not end there. More needs to be done to
                                        bridge the gap between the global North and
                                        South—and to create equal opportunities for people without regard to race,
                                        color, sex, gender identity, sexual
                                        orientation, age, religion, country of origin, physical ability, or
                                        socio-economic status. There is no place for
                                        discrimination on the basis of any one of these characteristics.</p>
                                    <p>The daily exchange of ideas between the East and the West has been at the
                                        heart of MDPI's progress from day one. We
                                        understand that diversity does not end there. More needs to be done to
                                        bridge the gap between the global North and
                                        South—and to create equal opportunities for people without regard to race,
                                        color, sex, gender identity, sexual
                                        orientation, age, religion, country of origin, physical ability, or
                                        socio-economic status. There is no place for
                                        discrimination on the basis of any one of these characteristics.</p>
                                    <p>The daily exchange of ideas between the East and the West has been at the
                                        heart of MDPI's progress from day one. We
                                        understand that diversity does not end there. More needs to be done to
                                        bridge the gap between the global North and
                                        South—and to create equal opportunities for people without regard to race,
                                        color, sex, gender identity, sexual
                                        orientation, age, religion, country of origin, physical ability, or
                                        socio-economic status. There is no place for
                                        discrimination on the basis of any one of these characteristics.</p>
                                    <p>The daily exchange of ideas between the East and the West has been at the
                                        heart of MDPI's progress from day one. We
                                        understand that diversity does not end there. More needs to be done to
                                        bridge the gap between the global North and
                                        South—and to create equal opportunities for people without regard to race,
                                        color, sex, gender identity, sexual
                                        orientation, age, religion, country of origin, physical ability, or
                                        socio-economic status. There is no place for
                                        discrimination on the basis of any one of these characteristics.</p>
                                    <p>The daily exchange of ideas between the East and the West has been at the
                                        heart of MDPI's progress from day one. We
                                        understand that diversity does not end there. More needs to be done to
                                        bridge the gap between the global North and
                                        South—and to create equal opportunities for people without regard to race,
                                        color, sex, gender identity, sexual
                                        orientation, age, religion, country of origin, physical ability, or
                                        socio-economic status. There is no place for
                                        discrimination on the basis of any one of these characteristics.</p>
                                    <p>The daily exchange of ideas between the East and the West has been at the
                                        heart of MDPI's progress from day one. We
                                        understand that diversity does not end there. More needs to be done to
                                        bridge the gap between the global North and
                                        South—and to create equal opportunities for people without regard to race,
                                        color, sex, gender identity, sexual
                                        orientation, age, religion, country of origin, physical ability, or
                                        socio-economic status. There is no place for
                                        discrimination on the basis of any one of these characteristics.</p>
                                </div>
                                <div class="mmcicaic">
                                    <h3>Journal Specific APCs</h3>

                                    <div class="list-with-picture">
                                        <a href="#0">
                                            <div class="image-and-text mmcicaic-img-price">
                                                <div class="image-and-text-container">
                                                    <img src="../assets/imgs/ijms-logo-sq.webp" alt=""
                                                        class="left-section-image">
                                                    <p class="left-section-middle-text">IJMS</p>
                                                </div>
                                                <div>
                                                    <p>1500 CHF</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#0">
                                            <div class="image-and-text mmcicaic-img-price">
                                                <div class="image-and-text-container">
                                                    <img src="../assets/imgs/ijms-logo-sq.webp" alt=""
                                                        class="left-section-image">
                                                    <p class="left-section-middle-text">IJMS</p>
                                                </div>
                                                <div>
                                                    <p>1500 CHF</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#0">
                                            <div class="image-and-text mmcicaic-img-price">
                                                <div class="image-and-text-container">
                                                    <img src="../assets/imgs/ijms-logo-sq.webp" alt=""
                                                        class="left-section-image">
                                                    <p class="left-section-middle-text">IJMS</p>
                                                </div>
                                                <div>
                                                    <p>1500 CHF</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#0">
                                            <div class="image-and-text mmcicaic-img-price">
                                                <div class="image-and-text-container">
                                                    <img src="../assets/imgs/ijms-logo-sq.webp" alt=""
                                                        class="left-section-image">
                                                    <p class="left-section-middle-text">IJMS</p>
                                                </div>
                                                <div>
                                                    <p>1500 CHF</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-1 right-main-container rho-mobile">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="inner-main-section col-12 s-and-f-button-parent">
                                <div class="s-and-f-button-container">
                                    <a href="#0">
                                        <span class="material-symbols-outlined">
                                            share
                                        </span>
                                    </a>
                                </div>
                                <div class="s-and-f-button-container">
                                    <a href="#0">
                                        <span class="material-symbols-outlined">
                                            sms_failed
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock content %}