{% extends 'journalApp/main.html' %}
{% block content %}
{% load static %}
    <main class="main-secton">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-3 left-main-container ">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="inner-main-section col-12">

                                <details class="details">
                                    <summary class="dropdown-headers">
                                        <h2 class="left-heading highly-aa authors-side-heading">Contact Us</h2>
                                    </summary>
                                    <div class="lmc-inner-container">
                                        <ul class="side-menu-li-container">
                                            <li class="side-menu-li active "> <a href="/journal/ijms"><em>IJMS</em>
                                                    Home
                                                </a> </li>
                                            <li class="side-menu-li "> <a href="/journal/ijms/about">Aims &
                                                    Scope</a>
                                            </li>
                                            <li class="side-menu-li "> <a href="/journal/ijms/editors">
                                                    Editorial
                                                    Board
                                                </a> </li>
                                        </ul>
                                    </div>
                                </details>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 middle-main-container">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="inner-main-section col-12 recent-articles topics mmcic-authors">
                                <h2>Contact</h2>

                                <h2 class="mmcic-contact-headings">Office Locations</h2>
                                <div class="mmcicaic contact-img-and-text">
                                    <div class="container-fluid">
                                        <p><a href="#0">MDPI Headquarters, Basel</a></p>
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <img src="{% static 'assets/imgs/basel.jpg' %}" alt="base office">
                                            </div>
                                            <div class="col-12 col-md-8 ciatic">
                                                <p><a href=""> MDPI AG, St. Alban-Anlage 66</a></p>
                                                <p>4052 Basel, Switzerland</p>
                                                <p>Tel.: +41 61 683 77 34</p>
                                                <br>
                                                <p><a href=""> MDPI AG, St. Alban-Anlage 66</a></p>
                                                <p>4052 Basel, Switzerland</p>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mmcicaic contact-img-and-text">
                                    <div class="container-fluid">
                                        <p><a href="#0">MDPI Headquarters, Basel</a></p>
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <img src="{% static 'assets/imgs/basel.jpg' %}" alt="base office">
                                            </div>
                                            <div class="col-12 col-md-8 ciatic">
                                                <p><a href=""> MDPI AG, St. Alban-Anlage 66</a></p>
                                                <p>4052 Basel, Switzerland</p>
                                                <p>Tel.: +41 61 683 77 34</p>
                                                <br>
                                                <p><a href=""> MDPI AG, St. Alban-Anlage 66</a></p>
                                                <p>4052 Basel, Switzerland</p>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mmcicaic contact-img-and-text">
                                    <div class="container-fluid">
                                        <p><a href="#0">MDPI Headquarters, Basel</a></p>
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <img src="{% static 'assets/imgs/basel.jpg' %}" alt="base office">
                                            </div>
                                            <div class="col-12 col-md-8 ciatic">
                                                <p><a href=""> MDPI AG, St. Alban-Anlage 66</a></p>
                                                <p>4052 Basel, Switzerland</p>
                                                <p>Tel.: +41 61 683 77 34</p>
                                                <br>
                                                <p><a href=""> MDPI AG, St. Alban-Anlage 66</a></p>
                                                <p>4052 Basel, Switzerland</p>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-1 right-main-container rho-mobile">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="inner-main-section col-12 s-and-f-button-parent">
                                <div class="s-and-f-button-container">
                                    <a href="#0">
                                        <span class="material-symbols-outlined">
                                            share
                                        </span>
                                    </a>
                                </div>
                                <div class="s-and-f-button-container">
                                    <a href="#0">
                                        <span class="material-symbols-outlined">
                                            sms_failed
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{%endblock content%}
