{% extends 'journalApp/main.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3 left-main-container ">
            <div class="container-fluid ">
                <div class="row">
                    <div class="inner-main-section col-12">
                        <img src="../assets/imgs/sustainability-logo.webp" alt="" class="journal-lmg">
                        <div class="left-button-container">
                            <button class="left-buttons left-button-submit full-width">Submit to
                                IJMS</button>
                        </div>
                        <div class="left-button-container">
                            <button class="left-buttons full-width">Review for IJMS</button>
                        </div>
                        <div class="left-button-container">
                            <div class="container-fluid">
                                <div class="row small-button-container">
                                    <button class="col-2 left-buttons small-button"><i
                                            class="fa-brands fa-twitter"></i></button>
                                    <button class="col-2 left-buttons small-button"><i
                                            class="fa-brands fa-facebook-f"></i></button>
                                    <button class="col-2 left-buttons small-button"><i
                                            class="fa-brands fa-linkedin-in"></i></button>
                                    <button class="col-5 left-buttons bigger-button">Share</button>
                                </div>
                            </div>

                        </div>
                        <details class="details">
                            <summary class="dropdown-headers">
                                <h2 class="left-heading highly-aa">Journal Menu</h2>
                            </summary>
                            <ul class="side-menu-li-container">
                                <li class="side-menu-li active "> <a href="/journal/ijms"><em>IJMS</em> Home
                                    </a> </li>
                                <li class="side-menu-li "> <a href="/journal/ijms/about">Aims & Scope</a>
                                </li>
                                <li class="side-menu-li "> <a href="/journal/ijms/editors"> Editorial Board
                                    </a> </li>
                                <li class="side-menu-li "> <a
                                        href="/journal/ijms/submission_reviewers">Reviewer
                                        Board</a> </li>
                                <li class="side-menu-li "> <a
                                        href="/journal/ijms/topical_advisory_panel">Topical
                                        Advisory
                                        Panel</a> </li>
                                <li class="side-menu-li "> <a href="/journal/ijms/instructions">Instructions
                                        for Authors</a> </li>
                                <li class="side-menu-li "> <a href="/journal/ijms/special_issues">Special
                                        Issues</a> </li>
                                <li class="side-menu-li"> <a
                                        href="/topics?query=&journal=ijms&status=all&category=all">Topics</a>
                                </li>
                                <li class="side-menu-li "> <a href="/journal/ijms/sections">Sections &
                                        Collections</a> </li>
                                <li class="side-menu-li "> <a href="/journal/ijms/apc">Article Processing
                                        Charge</a> </li>
                                <li class="side-menu-li "> <a href="/journal/ijms/indexing">Indexing &
                                        Archiving</a> </li>
                                <li class="side-menu-li "> <a href="/journal/ijms/most_cited">Most Cited &
                                        Viewed</a> </li>
                                <li class="side-menu-li "> <a href="/journal/ijms/stats">Journal
                                        Statistics</a> </li>
                                <li class="side-menu-li "> <a href="/journal/ijms/history">Journal
                                        History</a> </li>
                                <li class="side-menu-li "> <a href="/journal/ijms/awards">Journal Awards</a>
                                </li>
                                <li class="side-menu-li "> <a href="/journal/ijms/societies">Society
                                        Collaborations</a> </li>
                                <li class="side-menu-li "> <a href="/journal/ijms/events">Conferences</a>
                                </li>
                                <li class="side-menu-li "> <a
                                        href="/journal/ijms/editorial_office">Editorial
                                        Office</a> </li>
                            </ul>
                        </details>
                    </div>
                    <div class="inner-main-section col-12">
                        <details class="details">
                            <summary class="dropdown-headers">Journal Volumes</summary>
                            <div class="volums-container container-fluid">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <ul class="vol-li-container">
                                            <li class="vol-lists"><a href="#0">Vol. 15 (2023)</a></li>
                                            <li class="vol-lists"><a href="#0">Vol. 14 (2022)</a></li>
                                            <li class="vol-lists"><a href="#0">Vol. 13 (2021)</a></li>
                                            <li class="vol-lists"><a href="#0">Vol. 12 (2020)</a></li>
                                            <li class="vol-lists"><a href="#0">Vol. 11 (2019)</a></li>
                                            <li class="vol-lists"><a href="#0">Vol. 10 (2018)</a></li>
                                            <li class="vol-lists"><a href="#0">Vol. 9 (2017)</a></li>
                                            <li class="vol-lists"><a href="#0">Vol. 8 (2016)</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <ul class="vol-li-container">
                                            <li class="vol-lists"><a href="#0">Vol. 15 (2023)</a></li>
                                            <li class="vol-lists"><a href="#0">Vol. 14 (2022)</a></li>
                                            <li class="vol-lists"><a href="#0">Vol. 13 (2021)</a></li>
                                            <li class="vol-lists"><a href="#0">Vol. 12 (2020)</a></li>
                                            <li class="vol-lists"><a href="#0">Vol. 11 (2019)</a></li>
                                            <li class="vol-lists"><a href="#0">Vol. 10 (2018)</a></li>
                                            <li class="vol-lists"><a href="#0">Vol. 9 (2017)</a></li>
                                            <li class="vol-lists"><a href="#0">Vol. 8 (2016)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 col-md-8 middle-main-container">
            <div class="container-fluid ">
                <div class="row">
                    <div class="inner-main-section col-12 recent-articles">
                        <h2><i class="italic-heading">{{issue.journal}}, Volume {{issue.volume.number}}, Issue {{issue.number}} ({{issue.date_created | date:"M Y"}}) –
                                {{paper_count}} articles</i></h2>
                        <div class="image-with-text container-fluid">
                            <div class="row">
                                <div class="col-md-3 col-5">
                                    <img src="../assets/imgs/cover-sustainability-v14-i1.webp" alt="">
                                </div>
                                <div class="col-md-9 col-7">
                                    <p>
                                        Cover Story (view full-size image): Conflicts between different
                                        goals can obstruct progress in sustainability, but
                                        interests may also coincide. We evaluated relationships between
                                        environmental quality and animal welfare on Swedish
                                        farms with grazing livestock and semi-natural grasslands, using
                                        publicly available databases. Data were collected from
                                        8700 official animal welfare inspections on 5808 cattle farms, and
                                        2823 inspections on 2280 sheep farms from 2012 to
                                        2017. Compliance with three animal-based checkpoints in the
                                        legislation was modelled using logistic regression,
                                        including a random farm effect, to account for repeated inspections.
                                        The results suggest a direct or indirect causal
                                        effect of biodiversity on cattle welfare. The same associations
                                        could not be shown in sheep. View this paper
                                    </p>
                                </div>
                            </div>
                        </div>
                        <ul class="has-margin-top">
                            <li><p>Editor’s Choice articles are based on recommendations by the scientific
                                editors
                                of MDPI journals from around the world.</p></li>
                            <li><p>Editor’s Choice articles are based on recommendations by the scientific
                                editors
                                of MDPI journals from around the world.</p></li>
                            <li><p>Editor’s Choice articles are based on recommendations by the scientific
                                editors
                                of MDPI journals from around the world.</p></li>
                        </ul>
                        <!-- <div class="ec-filter-section container-fluid">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <p class="col-5 col-md-12">Order results</p>
                                            <select name="" id="" class="col-7 col-md-12">
                                                <option value="issue">Issue</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <p class="col-5 col-md-12">Order results</p>
                                            <select name="" id="" class="col-7 col-md-12">
                                                <option value="issue">Issue</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <p class="col-5 col-md-12">Order results</p>
                                            <select name="" id="" class="col-7 col-md-12">
                                                <option value="issue">Issue</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <hr>
                        <div class="recent-articles-child">
                            {% for paper in papers %}
                            <div class="recent-article">
                                <span class="openacess"><a href="#0">Open Access</a> </span>
                                <span class="Article">Article</span>
                                <h2 class="article-heading">
                                    <a href="{% url 'paper' paper.id %}">
                                        {{paper.title}}
                                    </a>
                                </h2>
                                <p class="by-authors">by <b>{{paper.author}}</b>
                                </p>
                                <i>{{paper.doi}}
                                    (registering
                                    DOI) - {{paper.date_created | date:"M Y"}}</i>
                                <p class="abstract">
                                    <a href="#0">Abstract</a>
                                    {{paper.description | truncatechars:200}}
                                    <a href="{% url 'paper' paper.id %}">Read more.</a>
                                </p>
                                <p class="belongs-to">(This article belongs to the <a
                                        href="{% url 'journal' paper.journal.id%}">{{paper.journal}})</a>
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-1 right-main-container rho-mobile">
            <div class="container-fluid ">
                <div class="row">
                    <div class="inner-main-section col-12 s-and-f-button-parent">
                        <div class="s-and-f-button-container">
                            <a href="#0">
                                <span class="material-symbols-outlined">
                                    share
                                </span>
                            </a>
                        </div>
                        <div class="s-and-f-button-container">
                            <a href="#0">
                                <span class="material-symbols-outlined">
                                    sms_failed
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
