{% extends 'journalApp/main.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3 left-main-container ">
            <div class="container-fluid ">
                <div class="row">
                    <div class="inner-main-section col-12">
                        <img src="{% static 'assets/imgs/sustainability-logo.webp' %}" alt="" class="journal-lmg">
                        <div class="left-button-container">
                            <button class="left-buttons full-width">Submit to this Journal</button>
                        </div>
                        <div class="left-button-container">
                            <button class="left-buttons full-width">Review for this Journal</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 col-md-8 middle-main-container">
            <div class="container-fluid ">
                <div class="row">
                    <div class="inner-main-section col-12 recent-articles">
                        <div class="recent-articles-child">
                            <div class="recent-article sa-top-buttons">
                                <span class="openacess"><a href="#0">Open Access</a> </span>
                                <span class="Article">Article</span>
                            </div>
                        </div>
                        <h2 class="sa-headings-h2">The Controversial Role of Homocysteine in Neurology: From
                            Labs to Clinical
                            Practice</h2>
                        <div class="sa-upper-section">
                            <p> <a href="#0">by Rita Moretti *ORCID andPaola Caruso</a></p>
                            <p>Neurology Clinic, Department of Medical, Surgical, and Health Sciences,
                                University of Trieste, 34149 Trieste, Italy
                                *
                                Author to whom correspondence should be addressed.</p>
                            <p>Int. J. Mol. Sci. 2019, 20(1), 231; https://doi.org/10.3390/ijms20010231</p>
                            <h4>Received: 29 November 2018 / Revised: 29 December 2018 / Accepted: 4 January
                                2019 / Published: 8 January 2019</h4>
                            <p></p>
                        </div>
                        <div class="sa-heading-bt-container">
                            <p>(This article belongs to the Special Issue <a href="#0"></a>Functional
                                Mechanism of B-Vitamins and Their Metabolites)</a></p>
                            <!-- <div class="container-fluid"> -->
                            <div class="row sa-heading-bts-d-container">
                                <a href="#0" class="col-sm-3 col-6  sa-heading-bts">Download</a>
                                <a href="#0" class="col-sm-3 col-6  sa-heading-bts">Browse
                                    Figure</a>
                                <a href="#0" class="col-sm-3 col-6  sa-heading-bts">Review
                                    Reports</a>
                                <a href="#0" class="col-sm-3 col-6  sa-heading-bts">Versions
                                    Notes</a>
                            </div>
                        </div>
                        <h4 class="abstract-h4">Abstract</h4>
                        <p>
                            Homocysteine (Hcy) is a sulfur-containing amino acid that is generated during
                            methionine metabolism. Physiologic Hcy
                            levels are determined primarily by dietary intake and vitamin status. Elevated
                            plasma levels of Hcy can be caused by
                            deficiency of either vitamin B12 or folate. Hyperhomocysteinemia (HHcy) can be
                            responsible of different systemic and
                            neurological disease. Actually, HHcy has been considered as a risk factor for
                            systemic atherosclerosis and
                            cardiovascular disease (CVD) and HHcy has been reported in many neurologic
                            disorders including cognitive impairment and
                            stroke, independent of long-recognized factors such as hyperlipidemia,
                            hypertension, diabetes mellitus, and smoking.
                            HHcy is typically defined as levels >15 micromol/L. Treatment of
                            hyperhomocysteinemia with folic acid and B vitamins
                            seems to be effective in the prevention of the development of atherosclerosis,
                            CVD, and strokes. However, data from
                            literature show controversial results regarding the significance of homocysteine
                            as a risk factor for CVD and stroke and
                            whether patients should be routinely screened for homocysteine. HHcy-induced
                            oxidative stress, endothelial dysfunction,
                            inflammation, smooth muscle cell proliferation, and endoplasmic reticulum (ER)
                            stress have been considered to play an
                            important role in the pathogenesis of several diseases including atherosclerosis
                            and stroke. The aim of our research is
                            to review the possible role of HHcy in neurodegenerative disease and stroke and
                            to understand its pathogenesis.
                        <p><a href="#0">Keywords: homocysteine; dementias; stroke; inflammation; vascular
                                endothelium</a></p>
                        </p>
                        <!-- <iframe class="pdf-viewer"
                            src="https://airjournal.org/ajase/wp-content/uploads/sites/25/2023/04/AJASE-4.11-11.pdf"
                            frameborder="0"></iframe> -->

                        <object
                            data="https://airjournal.org/ajase/wp-content/uploads/sites/25/2023/04/AJASE-4.11-11.pdf"
                            type="application/pdf" width="100%" height="700px">
                        </object>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 col-md-1 right-main-container rho-mobile">
            <div class="container-fluid ">
                <div class="row">
                    <!-- <div class="inner-main-section col-12 s-and-f-button-parent sfb-single-aticle">
                        <div class="s-and-f-button-container">
                            <a href="#0">
                                <span class="material-symbols-outlined">
                                    share
                                </span>
                                <p>Share</p>
                            </a>
                        </div>
                        <div class="s-and-f-button-container">
                            <a href="#0">
                                <span class="material-symbols-outlined">
                                    sms_failed
                                </span>
                                <p>Help</p>
                            </a>
                        </div>
                        <div class="s-and-f-button-container">
                            <a href="#0">
                                <span class="material-symbols-outlined">
                                    format_quote
                                </span>
                                <p>Cite</p>
                            </a>
                        </div>
                        <div class="s-and-f-button-container">
                            <a href="#0">
                                <span class="material-symbols-outlined">
                                    forum
                                </span>
                                <p>Discuss in SciProfiles</p>
                            </a>
                        </div>
                        <div class="s-and-f-button-container">
                            <a href="#0">
                                <span class="material-symbols-outlined">
                                    thumb_up
                                </span>
                                <p>Endorse</p>
                            </a>
                        </div>
                        <div class="s-and-f-button-container">
                            <a href="#0">
                                <span class="material-symbols-outlined">
                                    comment
                                </span>
                                <p>Comment</p>
                            </a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


