{% extends 'journalApp/main.html' %}
{% block content %}
    <main class="main-secton">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-3 left-main-container ">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="inner-main-section col-12">
                                <div class="left-button-container">
                                    <button class="left-buttons full-width">Edit a Topic</button>
                                </div>
                            </div>

                            <div class="inner-main-section col-12">
                                <details class="details">
                                    <summary class="dropdown-headers">
                                        <h2 class="left-heading highly-aa">Journal Menu</h2>
                                    </summary>
                                    <ul class="side-menu-li-container">
                                        <li class="side-menu-li active "> <a href="/journal/ijms"><em>IJMS</em> Home
                                            </a> </li>
                                        <li class="side-menu-li "> <a href="/journal/ijms/about">Aims & Scope</a>
                                        </li>
                                        <li class="side-menu-li "> <a href="/journal/ijms/editors"> Editorial Board
                                            </a> </li>
                                        <li class="side-menu-li "> <a href="/journal/ijms/submission_reviewers">Reviewer
                                                Board</a> </li>
                                        <li class="side-menu-li "> <a
                                                href="/journal/ijms/topical_advisory_panel">Topical
                                                Advisory
                                                Panel</a> </li>
                                        <li class="side-menu-li "> <a href="/journal/ijms/instructions">Instructions
                                                for Authors</a> </li>
                                        <li class="side-menu-li "> <a href="/journal/ijms/special_issues">Special
                                                Issues</a> </li>
                                        <li class="side-menu-li"> <a
                                                href="/topics?query=&journal=ijms&status=all&category=all">Topics</a>
                                        </li>
                                        <li class="side-menu-li "> <a href="/journal/ijms/sections">Sections &
                                                Collections</a> </li>
                                        <li class="side-menu-li "> <a href="/journal/ijms/apc">Article Processing
                                                Charge</a> </li>
                                        <li class="side-menu-li "> <a href="/journal/ijms/indexing">Indexing &
                                                Archiving</a> </li>
                                        <li class="side-menu-li "> <a href="/journal/ijms/most_cited">Most Cited &
                                                Viewed</a> </li>
                                        <li class="side-menu-li "> <a href="/journal/ijms/stats">Journal
                                                Statistics</a> </li>
                                        <li class="side-menu-li "> <a href="/journal/ijms/history">Journal
                                                History</a> </li>
                                        <li class="side-menu-li "> <a href="/journal/ijms/awards">Journal Awards</a>
                                        </li>
                                        <li class="side-menu-li "> <a href="/journal/ijms/societies">Society
                                                Collaborations</a> </li>
                                        <li class="side-menu-li "> <a href="/journal/ijms/events">Conferences</a>
                                        </li>
                                        <li class="side-menu-li "> <a href="/journal/ijms/editorial_office">Editorial
                                                Office</a> </li>
                                    </ul>
                                </details>
                            </div>
                            <div class="inner-main-section col-12">
                                <ul class="side-menu-li-container">
                                    <li class="side-menu-li active "> <a href="/journal/ijms"><em>IJMS</em> Home
                                        </a> </li>
                                    <li class="side-menu-li "> <a href="/journal/ijms/about">Aims & Scope</a>
                                    </li>
                                    <li class="side-menu-li "> <a href="/journal/ijms/editors"> Editorial Board
                                        </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-8 middle-main-container">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="inner-main-section col-12 recent-articles topics">
                                <h2>Editor’s Choice Articles</h2>
                                <div class="recent-articles-child">
                                    <div class="recent-article">
                                        <h2 class="article-heading">
                                            <a href="#0">
                                                A Political Ecology of the Body: Nature in French Anarchist Pedagogy
                                                around
                                                1900
                                            </a>
                                        </h2>
                                        <p>edited by Stefano Morelli,Veronica Pazzi andMirko Francioni</p>
                                        <p>submission deadline 30 Jun 2023 | 72 articles | Viewed by 100797 | <span
                                                class="openacess"><a href="#0">Submission Open</a> </span></p>
                                        <p>Participating journals: GeoHazards, Land, Remote Sensing, Sustainability,
                                            Water</p>
                                    </div>
                                </div>
                                <div class="recent-articles-child">
                                    <div class="recent-article">
                                        <h2 class="article-heading">
                                            <a href="#0">
                                                A Political Ecology of the Body: Nature in French Anarchist Pedagogy
                                                around
                                                1900
                                            </a>
                                        </h2>
                                        <p>edited by Stefano Morelli,Veronica Pazzi andMirko Francioni</p>
                                        <p>submission deadline 30 Jun 2023 | 72 articles | Viewed by 100797 | <span
                                                class="openacess"><a href="#0">Submission Open</a> </span></p>
                                        <p>Participating journals: GeoHazards, Land, Remote Sensing, Sustainability,
                                            Water</p>
                                    </div>
                                </div>
                                <div class="recent-articles-child">
                                    <div class="recent-article">
                                        <h2 class="article-heading">
                                            <a href="#0">
                                                A Political Ecology of the Body: Nature in French Anarchist Pedagogy
                                                around
                                                1900
                                            </a>
                                        </h2>
                                        <p>edited by Stefano Morelli,Veronica Pazzi andMirko Francioni</p>
                                        <p>submission deadline 30 Jun 2023 | 72 articles | Viewed by 100797 | <span
                                                class="openacess"><a href="#0">Submission Open</a> </span></p>
                                        <p>Participating journals: GeoHazards, Land, Remote Sensing, Sustainability,
                                            Water</p>
                                    </div>
                                </div>
                                <div class="recent-articles-child">
                                    <div class="recent-article">
                                        <h2 class="article-heading">
                                            <a href="#0">
                                                A Political Ecology of the Body: Nature in French Anarchist Pedagogy
                                                around
                                                1900
                                            </a>
                                        </h2>
                                        <p>edited by Stefano Morelli,Veronica Pazzi andMirko Francioni</p>
                                        <p>submission deadline 30 Jun 2023 | 72 articles | Viewed by 100797 | <span
                                                class="openacess"><a href="#0">Submission Open</a> </span></p>
                                        <p>Participating journals: GeoHazards, Land, Remote Sensing, Sustainability,
                                            Water</p>
                                    </div>
                                </div>
                                <div class="recent-articles-child">
                                    <div class="recent-article">
                                        <h2 class="article-heading">
                                            <a href="#0">
                                                A Political Ecology of the Body: Nature in French Anarchist Pedagogy
                                                around
                                                1900
                                            </a>
                                        </h2>
                                        <p>edited by Stefano Morelli,Veronica Pazzi andMirko Francioni</p>
                                        <p>submission deadline 30 Jun 2023 | 72 articles | Viewed by 100797 | <span
                                                class="openacess"><a href="#0">Submission Open</a> </span></p>
                                        <p>Participating journals: GeoHazards, Land, Remote Sensing, Sustainability,
                                            Water</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-1 right-main-container rho-mobile">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="inner-main-section col-12 s-and-f-button-parent">
                                <div class="s-and-f-button-container">
                                    <a href="#0">
                                        <span class="material-symbols-outlined">
                                            share
                                        </span>
                                    </a>
                                </div>
                                <div class="s-and-f-button-container">
                                    <a href="#0">
                                        <span class="material-symbols-outlined">
                                            sms_failed
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
